<div class="row">
    <img src="img/home.jpg" id="banner" class="img-responsive">
    </img>
</div>
<div class="row signinlabel">
    Sign in Below
</div>

<div class="row">
    <div id="signin" class="col-xm-8 col-xm-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <form class="form-signin" role="form">
            <h4 class="form-signin-heading">Enter Your Login Information</h4>
            <input type="email" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" class="form-control" placeholder="Password" required>
            <!--label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
            </label-->
            <div class="container-fluid row">
                <div class="col-xs-offset-1 col-xs-10">
                    <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                </div>
            </div>
            <!--button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-star"></span> Star
            </button-->

        </form>
    </div>
</div>
<!--a ui-sref="content" class="btn btn-primary btn-lg">Go PLAY!</a-->
