<!DOCTYPE HTML>
<html >
<head>
    <meta name="viewport" content="user-scalable=no,
initial-scale=1, maximum-scale=1,
minimum-scale=1, width=device-width;" />
    <title>Audio Recorder</title>


    <link type="text/css" href="css/bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/index.css" />


</head>
<body ng-app="toubaApp">
    <div id="progressbar"></div>
    <div id="message"></div>
    <button id="record"></button>

    <div ng-controller="AlertDemoCtrl">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
    </div>

    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!--script type="text/javascript" src="cordova.js"></script-->
    <!--script type="text/javascript" src="js/phonegap-main.js"></script-->
    <script type="text/javascript" src="js/main.js"></script>

</body>
</html>