<!DOCTYPE html>
<html ng-app="RecordService">
<head>
    <title>Touba Voice Mobile</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/js/jquery.mobile/jquery.mobile-1.3.2.css" />
    <link rel="stylesheet" href="lib/css/themes/touba-green.css" />
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="lib/js/jquery.mobile/jquery.mobile-1.3.2.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="lib/js/underscore/underscore-min.js"></script>

    <script type="text/javascript" src="cordova.js"></script>

    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>


</head>
<body ng-controller="PlayerController">

<!--Record List Page-->
<div id="record-list" data-role="page">
    <div data-role="header">
        <h1>Touba Voice</h1>
        <a href="#record-detail" ng-click="newRecord()" class="ui-btn-right">Logout</a>
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li><a href="#" ng-click="deleteRecord(record.fileName)" data-icon="gear">RECORDER</a></li>
                <li><a href="#" ng-click="sendRecord(record.fileName)" data-icon="grid" class="ui-btn-active">PLAYER</a></li>
            </ul>
        </div>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-filter="true">
            <li ng-repeat="record in records">
                <a href="#record-detail" data-transition="slide" ng-click="selectRecord(record.fileName)" value="{{record.name}}">{{record.name||record.fileName}}</a>
            </li>
        </ul>
    </div>
    <div data-role="footer" data-position="fixed">
        <!--p>{{records.length}} Records found</p-->
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li><a href="#" ng-click="deleteRecord(record.fileName)" data-icon="delete">Delete</a></li>
                <li><a href="#" ng-click="sendRecord(record.fileName)" data-icon="forward">Send</a></li>
            </ul>
        </div>
    </div>
</div>

<!--Record Detail Page-->
<div id="record-detail" data-role="page">
    <div data-role="header">
        <a href="#" data-icon="back" data-rel="back">Back</a>

        <h1>{{record.name}}</h1>
        <a href="#record-list" ng-click="saveRecord()" data-icon="check" class="ui-btn-right">Save</a>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-inset="true">
            <li data-role="fieldcontain">
                <label for="name">Record name</label>
                <input id="name" type="text" ng-model="record.name"/>
            </li>
            <li data-role="fieldcontain">
                <label for="body">Body</label>
                <textarea id="body" cols="40" rows="8" ng-model="record"></textarea>
            </li>
            <li data-role="fieldcontain">
                <label for="size">Size</label>
                <input id="size" type="text" ng-model="record.size"/>
            </li>
            <li data-role="fieldcontain">
                <label for="fileName">Context</label>
                <input id="fileName" type="text" ng-model="record.fileName"/>
            </li>
            <li data-role="fieldcontain">
                <label for="date">Date</label>
                <input id="date" type="date" ng-model="record.date"/>
            </li>
        </ul>
        <button data-inline="true" onclick="$.mobile.changePage('#record-list')" ng-click="completeRecord(record.fileName)">
            Save
        </button>
    </div>
    <div data-role="footer" data-position="fixed">
        <p>Record ID: {{record.name||record.fileName}} / {{record.id}}</p>
    </div>
</div>

</body>
</html>
