#record {
    display: block;
    padding: .4em .8em;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -webkit-transition:.3s -webkit-box-shadow, .3s padding;
    transition:.3s box-shadow, .3s padding;
    border-radius: 200px;
    background: rgba(255,0,0,.6);
    width: 10em;
    height: 10em;
    color: white;
    position: absolute;
    top: 25%;
    left: 25%;
}
/** http://angular-ui.github.io/bootstrap/#/getting_started CSS section
 Resolve conflict between angular and bootstrap with empty href (different interpretation)
 **/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }